apps/claude-test-generator/n8n-integration/n8n-workflows/improved-framework-monitor.json
{
  "name": "AI Test Generator - Improved Real-Time Monitor",
  "description": "Webhook-based real-time monitoring with proper data flow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "framework-status",
        "responseMode": "lastNode",
        "options": {
          "responseData": "allEntries",
          "responseCode": 200
        }
      },
      "id": "webhook-status",
      "name": "📡 Status Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "framework-status"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "framework-error",
        "responseMode": "lastNode",
        "options": {
          "responseData": "allEntries",
          "responseCode": 200
        }
      },
      "id": "webhook-error",
      "name": "🚨 Error Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 500],
      "webhookId": "framework-error"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.type}}",
              "operation": "equals",
              "value2": "framework_update"
            }
          ]
        }
      },
      "id": "if-framework-update",
      "name": "Is Framework Update?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.type}}",
              "operation": "equals",
              "value2": "agent_update"
            }
          ]
        }
      },
      "id": "if-agent-update",
      "name": "Is Agent Update?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [450, 400]
    },
    {
      "parameters": {
        "jsCode": "// Process framework phase updates\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const data = item.json;\n  \n  // Calculate progress based on phase\n  const phaseProgress = {\n    'initialization': 10,\n    'foundation_analysis': 30,\n    'deep_investigation': 50,\n    'qe_intelligence': 65,\n    'ai_analysis': 80,\n    'test_generation': 95,\n    'cleanup': 100\n  };\n  \n  const enrichedData = {\n    ...data,\n    progress_percentage: phaseProgress[data.phase] || 0,\n    phase_display: data.phase ? data.phase.replace(/_/g, ' ').toUpperCase() : 'UNKNOWN',\n    timestamp_formatted: new Date(data.timestamp).toLocaleTimeString(),\n    execution_id: data.run_id || data.jira_ticket\n  };\n  \n  // Store in static data for dashboard\n  const staticData = $getWorkflowStaticData('global');\n  if (!staticData.executions) staticData.executions = {};\n  if (!staticData.executions[enrichedData.execution_id]) {\n    staticData.executions[enrichedData.execution_id] = {\n      phases: {},\n      agents: {},\n      start_time: new Date().toISOString()\n    };\n  }\n  \n  staticData.executions[enrichedData.execution_id].phases[data.phase] = {\n    status: data.status,\n    timestamp: data.timestamp,\n    metrics: data.metrics\n  };\n  \n  staticData.current_execution = enrichedData.execution_id;\n  staticData.last_update = enrichedData;\n  \n  results.push({ json: enrichedData });\n}\n\nreturn results;"
      },
      "id": "process-framework-update",
      "name": "🎯 Process Framework Update",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 250]
    },
    {
      "parameters": {
        "jsCode": "// Process agent updates\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const data = item.json;\n  \n  const enrichedData = {\n    ...data,\n    agent_display: data.agent ? data.agent.replace(/_/g, ' ').toUpperCase() : 'UNKNOWN',\n    timestamp_formatted: new Date(data.timestamp).toLocaleTimeString(),\n    execution_id: data.run_id || data.jira_ticket,\n    confidence_display: data.confidence ? `${data.confidence}%` : 'N/A',\n    execution_time_display: data.execution_time ? `${data.execution_time}s` : 'N/A'\n  };\n  \n  // Store in static data\n  const staticData = $getWorkflowStaticData('global');\n  if (!staticData.executions) staticData.executions = {};\n  if (!staticData.executions[enrichedData.execution_id]) {\n    staticData.executions[enrichedData.execution_id] = {\n      phases: {},\n      agents: {},\n      start_time: new Date().toISOString()\n    };\n  }\n  \n  staticData.executions[enrichedData.execution_id].agents[data.agent] = {\n    status: data.status,\n    confidence: data.confidence,\n    execution_time: data.execution_time,\n    timestamp: data.timestamp,\n    findings_summary: data.findings_summary\n  };\n  \n  staticData.current_execution = enrichedData.execution_id;\n  staticData.last_update = enrichedData;\n  \n  results.push({ json: enrichedData });\n}\n\nreturn results;"
      },
      "id": "process-agent-update",
      "name": "🤖 Process Agent Update",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 350]
    },
    {
      "parameters": {
        "mode": "combine",
        "mergeByFields": {
          "values": [
            {
              "field1": "execution_id",
              "field2": "execution_id"
            }
          ]
        },
        "options": {
          "multipleBranches": true,
          "includeUnpaired": true
        }
      },
      "id": "merge-updates",
      "name": "🔀 Merge Updates",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "jsCode": "// Generate comprehensive dashboard data\nconst items = $input.all();\nconst staticData = $getWorkflowStaticData('global');\nconst results = [];\n\n// Get current execution data\nconst currentExecId = staticData.current_execution;\nconst currentExec = staticData.executions?.[currentExecId] || {};\n\n// Build dashboard data\nconst dashboardData = {\n  execution_id: currentExecId,\n  jira_ticket: items[0]?.json?.jira_ticket || 'Unknown',\n  timestamp: new Date().toISOString(),\n  \n  // Overall progress\n  overall_progress: calculateOverallProgress(currentExec),\n  \n  // Phase statuses\n  phases: {\n    initialization: currentExec.phases?.initialization || { status: 'pending' },\n    foundation_analysis: currentExec.phases?.foundation_analysis || { status: 'pending' },\n    deep_investigation: currentExec.phases?.deep_investigation || { status: 'pending' },\n    qe_intelligence: currentExec.phases?.qe_intelligence || { status: 'pending' },\n    ai_analysis: currentExec.phases?.ai_analysis || { status: 'pending' },\n    test_generation: currentExec.phases?.test_generation || { status: 'pending' },\n    cleanup: currentExec.phases?.cleanup || { status: 'pending' }\n  },\n  \n  // Agent statuses\n  agents: {\n    agent_a: currentExec.agents?.agent_a || { status: 'inactive' },\n    agent_d: currentExec.agents?.agent_d || { status: 'inactive' },\n    agent_b: currentExec.agents?.agent_b || { status: 'inactive' },\n    agent_c: currentExec.agents?.agent_c || { status: 'inactive' }\n  },\n  \n  // Metrics\n  metrics: {\n    total_agents: Object.keys(currentExec.agents || {}).length,\n    completed_agents: Object.values(currentExec.agents || {}).filter(a => a.status === 'completed').length,\n    average_confidence: calculateAverageConfidence(currentExec.agents),\n    total_execution_time: calculateTotalExecutionTime(currentExec)\n  },\n  \n  // Last update info\n  last_update: staticData.last_update || {}\n};\n\nfunction calculateOverallProgress(exec) {\n  const phases = exec.phases || {};\n  const weights = {\n    initialization: 10,\n    foundation_analysis: 20,\n    deep_investigation: 20,\n    qe_intelligence: 10,\n    ai_analysis: 20,\n    test_generation: 15,\n    cleanup: 5\n  };\n  \n  let progress = 0;\n  for (const [phase, weight] of Object.entries(weights)) {\n    if (phases[phase]?.status === 'completed') {\n      progress += weight;\n    } else if (phases[phase]?.status === 'running') {\n      progress += weight * 0.5;\n    }\n  }\n  \n  return Math.round(progress);\n}\n\nfunction calculateAverageConfidence(agents) {\n  const confidences = Object.values(agents || {}).map(a => a.confidence).filter(c => c);\n  if (confidences.length === 0) return 0;\n  return Math.round(confidences.reduce((a, b) => a + b, 0) / confidences.length);\n}\n\nfunction calculateTotalExecutionTime(exec) {\n  const times = Object.values(exec.agents || {}).map(a => a.execution_time || 0);\n  return times.reduce((a, b) => a + b, 0).toFixed(1);\n}\n\nresults.push({ json: dashboardData });\nreturn results;"
      },
      "id": "generate-dashboard-data",
      "name": "📊 Generate Dashboard Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "post",
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "ai-test-generator",
          "mode": "name"
        },
        "text": "=🚀 *Framework Update*\nJIRA: {{$json.jira_ticket}}\nPhase: {{$json.last_update.phase_display}}\nStatus: {{$json.last_update.status}}\nProgress: {{$json.overall_progress}}%",
        "otherOptions": {}
      },
      "id": "slack-notification",
      "name": "💬 Slack Notification",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2,
      "position": [1250, 250],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.last_update.status === 'completed' || $json.last_update.status === 'failed'}}",
              "value2": true
            }
          ]
        }
      },
      "id": "if-notify",
      "name": "Should Notify?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1250, 350]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8080/dashboard/update",
        "authentication": "none",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "",
              "value": "={{JSON.stringify($json)}}"
            }
          ]
        },
        "options": {}
      },
      "id": "update-dashboard",
      "name": "🖥️ Update Dashboard",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1250, 450],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Process error notifications\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const data = item.json;\n  \n  // Classify error severity\n  const severity = classifyErrorSeverity(data.error_message);\n  \n  const errorData = {\n    ...data,\n    severity,\n    should_alert: ['critical', 'high'].includes(severity),\n    timestamp_formatted: new Date(data.timestamp).toLocaleTimeString(),\n    alert_message: `🚨 *Error Alert - ${severity.toUpperCase()}*\\n` +\n                   `JIRA: ${data.jira_ticket}\\n` +\n                   `Phase: ${data.phase || 'Unknown'}\\n` +\n                   `Agent: ${data.agent || 'Unknown'}\\n` +\n                   `Error: ${data.error_message}`\n  };\n  \n  results.push({ json: errorData });\n}\n\nfunction classifyErrorSeverity(message) {\n  const msg = (message || '').toLowerCase();\n  if (msg.includes('fatal') || msg.includes('crash')) return 'critical';\n  if (msg.includes('error') || msg.includes('failed')) return 'high';\n  if (msg.includes('warning') || msg.includes('retry')) return 'medium';\n  return 'low';\n}\n\nreturn results;"
      },
      "id": "process-error",
      "name": "⚠️ Process Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 500]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.should_alert}}",
              "value2": true
            }
          ]
        }
      },
      "id": "if-alert",
      "name": "Should Alert?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 500]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "post",
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "ai-test-generator-alerts",
          "mode": "name"
        },
        "text": "={{$json.alert_message}}",
        "otherOptions": {}
      },
      "id": "slack-error-alert",
      "name": "🚨 Slack Error Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2,
      "position": [850, 500]
    }
  ],
  "connections": {
    "📡 Status Webhook": {
      "main": [
        [
          {
            "node": "Is Framework Update?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Is Agent Update?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Framework Update?": {
      "main": [
        [
          {
            "node": "🎯 Process Framework Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Agent Update?": {
      "main": [
        [
          {
            "node": "🤖 Process Agent Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🎯 Process Framework Update": {
      "main": [
        [
          {
            "node": "🔀 Merge Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🤖 Process Agent Update": {
      "main": [
        [
          {
            "node": "🔀 Merge Updates",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "🔀 Merge Updates": {
      "main": [
        [
          {
            "node": "📊 Generate Dashboard Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Generate Dashboard Data": {
      "main": [
        [
          {
            "node": "Should Notify?",
            "type": "main",
            "index": 0
          },
          {
            "node": "🖥️ Update Dashboard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Notify?": {
      "main": [
        [
          {
            "node": "💬 Slack Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🚨 Error Webhook": {
      "main": [
        [
          {
            "node": "⚠️ Process Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⚠️ Process Error": {
      "main": [
        [
          {
            "node": "Should Alert?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Alert?": {
      "main": [
        [
          {
            "node": "🚨 Slack Error Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-01-03T12:00:00.000Z",
  "versionId": "1"
}
